Repository henrycgbaker/LLenergyMeasure: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-invalid-combos, generate-param-matrix, generate-config-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic>=2.0, types-PyYAML]
        args: [--config-file=pyproject.toml]
        files: ^src/

  # Local hooks: Regenerate docs when SSOT sources change
  # Uses language: system to run with project venv (needs pydantic)
  - repo: local
    hooks:
      - id: generate-invalid-combos
        name: Regenerate invalid-combos.md
        entry: python scripts/generate_invalid_combos_doc.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_invalid_combos_doc\.py)$

      - id: generate-param-matrix
        name: Regenerate param-matrix.md
        entry: python scripts/generate_param_matrix.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_param_matrix\.py)$

      - id: generate-config-docs
        name: Regenerate config docs
        entry: python scripts/generate_config_docs.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_config_docs\.py)$

fix(ci): ratify local seed for transformers image promotion
  .github/workflows/ghcr-prune.yml
  .github/workflows/publish-engine-image.yml
  Makefile
  docs/explanation/architecture/ci-architecture.md
Due: none

refactor(ci): rewrite engine pipeline to hosted byte-verification (#758)
  .github/ISSUE_TEMPLATE/infrastructure.yml
  .github/actions/clean-self-hosted-workspace/action.yml
  .github/actions/synthesize-passwd/action.yml
  .github/workflows/_engine-invariants-cell.yml
  .github/workflows/_engine-schemas-cell.yml
  .github/workflows/engine-pipeline.yml
  .github/workflows/engine-rules-check.yml
  .github/workflows/ghcr-prune.yml
  .github/workflows/publish-engine-image.yml
  Makefile
  docs/explanation/architecture/ci-architecture.md
Due: none

docs: align documentation with byte-verification engine knowledge flow
  docs/contributing/development.md
  docs/contributing/extending-miners.md
  docs/contributing/miner-pipeline.md
  docs/contributing/schema-refresh.md
  docs/explanation/architecture/architecture-overview.md
  docs/explanation/architecture/auto-refresh-pipeline.md
  docs/explanation/architecture/engine-extensibility.md
  docs/explanation/architecture/engine-introspection-pipelines.md
  docs/explanation/architecture/parameter-discovery.md
  docs/explanation/architecture/pipeline-architecture.md
  docs/explanation/methodology/glossary.md
  docs/explanation/overview.md
  docs/explanation/why.md
  docs/get-started/choose-your-path.md
  docs/how-to/docker-setup.md
  docs/how-to/install.md
  docs/how-to/run-with-tensorrt-llm.md
  docs/reference/invariants-corpus-format.md
  docs/reference/schema-discovered-format.md
  docs/tutorials/multi-engine-study.md
  website/docusaurus.config.ts
  website/sidebarsContributing.ts
  website/sidebarsExplanation.ts
  website/src/pages/index.tsx
Due: none

docs(install): correct transformers image cache publishing claims
  docs/how-to/install.md
Due: none

docs: align documentation with byte-verification engine knowledge flow (#759)
  docs/contributing/development.md
  docs/contributing/extending-miners.md
  docs/contributing/miner-pipeline.md
  docs/contributing/schema-refresh.md
  docs/explanation/architecture/architecture-overview.md
  docs/explanation/architecture/auto-refresh-pipeline.md
  docs/explanation/architecture/engine-extensibility.md
  docs/explanation/architecture/engine-introspection-pipelines.md
  docs/explanation/architecture/parameter-discovery.md
  docs/explanation/architecture/pipeline-architecture.md
  docs/explanation/methodology/glossary.md
  docs/explanation/overview.md
  docs/explanation/why.md
  docs/get-started/choose-your-path.md
  docs/how-to/docker-setup.md
  docs/how-to/install.md
  docs/how-to/run-with-tensorrt-llm.md
  docs/reference/invariants-corpus-format.md
  docs/reference/schema-discovered-format.md
  docs/tutorials/multi-engine-study.md
  website/docusaurus.config.ts
  website/sidebarsContributing.ts
  website/sidebarsExplanation.ts
  website/src/pages/index.tsx
Due: none

docs: retire mined-invariants pages and gate generated-doc drift
  Makefile
  docs/contributing/knowledge-production.md
  docs/contributing/schema-refresh.md
  docs/explanation/architecture/ci-architecture.md
  docs/explanation/architecture/engine-extensibility.md
  docs/explanation/architecture/parameter-discovery.md
  docs/explanation/architecture/pipeline-architecture.md
  docs/explanation/methodology/glossary.md
  docs/get-started/choose-your-path.md
  docs/how-to/run-with-tensorrt-llm.md
  docs/reference/engines/configuration.md
  docs/reference/engines/curation-tensorrt.md
  docs/reference/engines/curation-transformers.md
  docs/reference/engines/curation-vllm.md
  docs/reference/engines/invalid-combos.md
  docs/reference/engines/invariants-tensorrt.md
  docs/reference/engines/invariants-transformers.md
  docs/reference/engines/invariants-vllm.md
  docs/reference/engines/schema-tensorrt.md
  docs/reference/engines/schema-transformers.md
  docs/reference/engines/schema-vllm.md
  docs/reference/invariants-corpus-format.md
  docs/reference/schema-discovered-format.md
  scripts/ci/upsert_pr_comment.sh
  scripts/generate_invalid_combos_doc.py
  scripts/generate_invariants_doc.py
  scripts/generate_schema_doc.py
  website/docusaurus.config.ts
  website/sidebarsContributing.ts
  website/sidebarsReference.ts
Due: generate-invalid-combos

docs: retire mined-invariants pages and gate generated-doc drift (#760)
  Makefile
  docs/contributing/knowledge-production.md
  docs/contributing/schema-refresh.md
  docs/explanation/architecture/ci-architecture.md
  docs/explanation/architecture/engine-extensibility.md
  docs/explanation/architecture/parameter-discovery.md
  docs/explanation/architecture/pipeline-architecture.md
  docs/explanation/methodology/glossary.md
  docs/get-started/choose-your-path.md
  docs/how-to/run-with-tensorrt-llm.md
  docs/reference/engines/configuration.md
  docs/reference/engines/curation-tensorrt.md
  docs/reference/engines/curation-transformers.md
  docs/reference/engines/curation-vllm.md
  docs/reference/engines/invalid-combos.md
  docs/reference/engines/invariants-tensorrt.md
  docs/reference/engines/invariants-transformers.md
  docs/reference/engines/invariants-vllm.md
  docs/reference/engines/schema-tensorrt.md
  docs/reference/engines/schema-transformers.md
  docs/reference/engines/schema-vllm.md
  docs/reference/invariants-corpus-format.md
  docs/reference/schema-discovered-format.md
  scripts/ci/upsert_pr_comment.sh
  scripts/generate_invalid_combos_doc.py
  scripts/generate_invariants_doc.py
  scripts/generate_schema_doc.py
  website/docusaurus.config.ts
  website/sidebarsContributing.ts
  website/sidebarsReference.ts
Due: generate-invalid-combos

ci(docs): enforce generated-doc drift gate in docs-freshness
  .github/workflows/ci.yml
Due: none

ci(docs): enforce generated-doc drift gate in docs-freshness (#761)
  .github/workflows/ci.yml
Due: none

refactor(scripts): remove dead refresh-invariants + schema-diff scripts
  Makefile
  scripts/diff_discovered_schemas.py
  scripts/refresh_invariants.sh
  tests/unit/scripts/test_diff_discovered_schemas.py
Due: none

refactor(scripts): remove dead refresh-invariants + schema-diff scripts (#762)
  Makefile
  scripts/diff_discovered_schemas.py
  scripts/refresh_invariants.sh
  tests/unit/scripts/test_diff_discovered_schemas.py
Due: none

refactor(scripts): retire dead invariant-mining pipeline
  scripts/_invariant_validation_common.py
  scripts/diff_engine_invariants.py
  scripts/engine_producers/_common.py
  scripts/engine_producers/_dataclass_lift.py
  scripts/engine_producers/_fixpoint_test.py
  scripts/engine_producers/_msgspec_lift.py
  scripts/engine_producers/_pydantic_lift.py
  scripts/engine_producers/build_corpus.py
  scripts/engine_producers/tensorrt_miner.py
  scripts/engine_producers/transformers_static_invariant_miner.py
  scripts/engine_producers/vllm_dynamic_invariant_miner.py
  scripts/validate_invariants.py
  tests/integration/test_invariant_miner_workflow.py
  tests/unit/engine_producers/__init__.py
  tests/unit/engine_producers/test_build_corpus.py
  tests/unit/scripts/engine_producers/test_fixpoint.py
  tests/unit/scripts/engine_producers/test_msgspec_lift.py
  tests/unit/scripts/engine_producers/test_pydantic_lift.py
  tests/unit/scripts/engine_producers/test_tensorrt_miner.py
  tests/unit/scripts/engine_producers/test_tensorrt_static_miner.py
  tests/unit/scripts/engine_producers/test_transformers_dynamic_miner.py
  tests/unit/scripts/engine_producers/test_transformers_dynamic_miner_argparse.py
  tests/unit/scripts/engine_producers/test_vllm_miner.py
  tests/unit/scripts/test_diff_engine_invariants.py
  tests/unit/scripts/test_validate_invariants.py
Due: none

refactor(scripts): retire dead invariant-mining pipeline (#763)
  scripts/_invariant_validation_common.py
  scripts/diff_engine_invariants.py
  scripts/engine_producers/_common.py
  scripts/engine_producers/_dataclass_lift.py
  scripts/engine_producers/_fixpoint_test.py
  scripts/engine_producers/_msgspec_lift.py
  scripts/engine_producers/_pydantic_lift.py
  scripts/engine_producers/build_corpus.py
  scripts/engine_producers/tensorrt_miner.py
  scripts/engine_producers/transformers_static_invariant_miner.py
  scripts/engine_producers/vllm_dynamic_invariant_miner.py
  scripts/validate_invariants.py
  tests/integration/test_invariant_miner_workflow.py
  tests/unit/engine_producers/__init__.py
  tests/unit/engine_producers/test_build_corpus.py
  tests/unit/scripts/engine_producers/test_fixpoint.py
  tests/unit/scripts/engine_producers/test_msgspec_lift.py
  tests/unit/scripts/engine_producers/test_pydantic_lift.py
  tests/unit/scripts/engine_producers/test_tensorrt_miner.py
  tests/unit/scripts/engine_producers/test_tensorrt_static_miner.py
  tests/unit/scripts/engine_producers/test_transformers_dynamic_miner.py
  tests/unit/scripts/engine_producers/test_transformers_dynamic_miner_argparse.py
  tests/unit/scripts/engine_producers/test_vllm_miner.py
  tests/unit/scripts/test_diff_engine_invariants.py
  tests/unit/scripts/test_validate_invariants.py
Due: none

docs: align stray docs to rules vocabulary and document study command
  docs/contributing/roadmap.md
  docs/explanation/ecosystem.md
  docs/explanation/why.md
  docs/how-to/docker-setup.md
  docs/how-to/faq.md
  docs/how-to/troubleshoot.md
  docs/reference/cli.md
  docs/reference/library/ExperimentConfig.md
  docs/reference/library/StudyConfig.md
  scripts/generate_cli_reference.py
  src/llenergymeasure/cli/__init__.py
Due: none

docs: align stray docs to rules vocabulary and document study command (#764)
  docs/contributing/roadmap.md
  docs/explanation/ecosystem.md
  docs/explanation/why.md
  docs/how-to/docker-setup.md
  docs/how-to/faq.md
  docs/how-to/troubleshoot.md
  docs/reference/cli.md
  docs/reference/library/ExperimentConfig.md
  docs/reference/library/StudyConfig.md
  scripts/generate_cli_reference.py
  src/llenergymeasure/cli/__init__.py
Due: none

fix(scripts): retarget schema discovery at current.yaml pins
  engine_versions/vllm/v0_19_1/outputs/curated.yaml
  scripts/refresh_discovered_schemas.sh
Due: none

fix(scripts): retarget schema discovery at current.yaml pins (#765)
  engine_versions/vllm/v0_19_1/outputs/curated.yaml
  scripts/refresh_discovered_schemas.sh
Due: none

fix(ci): pin-driven transformers publish and prune exemption
  .github/workflows/docker-publish.yml
  .github/workflows/engine-rules-check.yml
  .github/workflows/ghcr-prune.yml
Due: none

fix(ci): pin-driven transformers publish and ghcr prune exemption (#766)
  .github/workflows/docker-publish.yml
  .github/workflows/engine-rules-check.yml
  .github/workflows/ghcr-prune.yml
Due: none

fix(rules): purge false-positive and phantom corpus rules
  src/llenergymeasure/engines/tensorrt/rules.yaml
  src/llenergymeasure/engines/transformers/rules.yaml
  src/llenergymeasure/engines/vllm/rules.yaml
  tests/unit/config/engine_rules/test_corpus_invariants.py
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/config/test_scaffold.py
  tests/unit/config/test_series.py
  tests/unit/config/test_tensorrt_config.py
Due: none

refactor(tests): fix early_stopping collapse story, drop dup test
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/config/test_scaffold.py
Due: none

fix(rules): purge false-positive and phantom corpus rules (#767)
  src/llenergymeasure/engines/tensorrt/rules.yaml
  src/llenergymeasure/engines/transformers/rules.yaml
  src/llenergymeasure/engines/vllm/rules.yaml
  tests/unit/config/engine_rules/test_corpus_invariants.py
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/config/test_scaffold.py
  tests/unit/config/test_series.py
  tests/unit/config/test_tensorrt_config.py
Due: none

fix(ci): disambiguate engine filter context and guard regen error attribution
  .github/workflows/engine-rules-check.yml
  scripts/engine_producers/regen_engine_configs.py
  tests/unit/scripts/engine_producers/test_regen_engine_configs.py
Due: none

refactor(ci): drop dead base: expr and trim gate-reachability comments
  .github/workflows/engine-rules-check.yml
  scripts/engine_producers/regen_engine_configs.py
Due: none

fix(ci): make bump gates reachable and requireable
  .github/workflows/ci.yml
  .github/workflows/engine-rules-check.yml
  scripts/engine_producers/regen_engine_configs.py
  tests/unit/scripts/engine_producers/test_regen_engine_configs.py
Due: none

fix(ci): make bump gates reachable and requireable (#769)
  .github/workflows/ci.yml
  .github/workflows/engine-rules-check.yml
  scripts/engine_producers/regen_engine_configs.py
  tests/unit/scripts/engine_producers/test_regen_engine_configs.py
Due: none

refactor(config): consolidate render_message doc and fold duplicate tests
  src/llenergymeasure/config/engine_rules/loader.py
  tests/unit/config/engine_rules/test_invariant_matching.py
  tests/unit/config/test_generic_validator.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(config): rule message rendering and loader guards
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/models.py
  tests/unit/config/engine_rules/test_invariant_matching.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/config/engine_rules/test_loader_field_ref_and_divisibility.py
  tests/unit/config/test_generic_validator.py
  tests/unit/config/test_scaffold.py
  tests/unit/config/test_series.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(scripts): absorb operability for all engines and ritual hardening
  .gitignore
  Makefile
  scripts/absorb.py
  scripts/check_discovered_schema_versions.py
  scripts/check_pydantic_matches_discovered.py
  scripts/probe_candidates.sh
  tests/unit/scripts/test_absorb.py
  tests/unit/scripts/test_check_discovered_schema_versions.py
  tests/unit/scripts/test_check_pydantic_matches_discovered.py
Due: none

feat(scripts): citation-grounded analyst manifests for transformers and tensorrt
  engine_versions/tensorrt/analyst_clusters.yaml
  engine_versions/transformers/analyst_clusters.yaml
  tests/unit/scripts/test_analyst_cold_read.py
Due: none

refactor(scripts): flatten schema-version test setup helper
  tests/unit/scripts/test_check_discovered_schema_versions.py
Due: none

fix(config): rule message rendering and loader guards (#768)
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/models.py
  tests/unit/config/engine_rules/test_invariant_matching.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/config/engine_rules/test_loader_field_ref_and_divisibility.py
  tests/unit/config/test_generic_validator.py
  tests/unit/config/test_scaffold.py
  tests/unit/config/test_series.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(study): dedup fallback sentinel, grid edge cases, dormant visibility
  src/llenergymeasure/cli/_preflight_display.py
  src/llenergymeasure/cli/_study_plan.py
  src/llenergymeasure/cli/study_cmd.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/study/library_resolution.py
  src/llenergymeasure/study/loading.py
  tests/unit/cli/test_preflight_display.py
  tests/unit/cli/test_study_plan.py
  tests/unit/study/test_library_resolution.py
  tests/unit/study/test_study_grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(scripts): apply 4-angle cleanup review findings
  scripts/absorb.py
  scripts/check_discovered_schema_versions.py
  scripts/check_pydantic_matches_discovered.py
  tests/unit/scripts/test_analyst_cold_read.py
  tests/unit/scripts/test_check_discovered_schema_versions.py
  tests/unit/scripts/test_check_pydantic_matches_discovered.py
Due: none

refactor(study): apply 4-angle cleanup review findings
  src/llenergymeasure/cli/_preflight_display.py
  src/llenergymeasure/cli/_study_plan.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/study/library_resolution.py
  src/llenergymeasure/study/loading.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/study/test_library_resolution.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(scripts): restrict absorb --engine to valid choices
  scripts/absorb.py
Due: none

fix(study): dedup fallback, grid edge cases, dormant visibility (#770)
  src/llenergymeasure/cli/_preflight_display.py
  src/llenergymeasure/cli/_study_plan.py
  src/llenergymeasure/cli/study_cmd.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/study/library_resolution.py
  src/llenergymeasure/study/loading.py
  tests/unit/cli/test_preflight_display.py
  tests/unit/cli/test_study_plan.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/study/test_library_resolution.py
  tests/unit/study/test_study_grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(ci): fan-in gate so engine rules check is requireable without deadlock
  .github/workflows/engine-rules-check.yml
Due: none

fix(ci): fan-in gate so engine rules check is requireable without deadlock (#772)
  .github/workflows/engine-rules-check.yml
Due: none

fix(scripts): absorb operability for all engines and ritual hardening (#771)
  .gitignore
  Makefile
  engine_versions/tensorrt/analyst_clusters.yaml
  engine_versions/transformers/analyst_clusters.yaml
  scripts/absorb.py
  scripts/check_discovered_schema_versions.py
  scripts/check_pydantic_matches_discovered.py
  scripts/probe_candidates.sh
  tests/unit/scripts/test_absorb.py
  tests/unit/scripts/test_analyst_cold_read.py
  tests/unit/scripts/test_check_discovered_schema_versions.py
  tests/unit/scripts/test_check_pydantic_matches_discovered.py
Due: none
