Repository henrycgbaker/LLenergyMeasure: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-invalid-combos, generate-param-matrix, generate-config-docs

generate-invalid-combos:
  name: Regenerate invalid-combos.md
  entry: python scripts/generate_invalid_combos_doc.py
  language: system
  pass_filenames: false

generate-param-matrix:
  name: Regenerate param-matrix.md
  entry: python scripts/generate_param_matrix.py
  language: system
  pass_filenames: false

generate-config-docs:
  name: Regenerate config docs
  entry: python scripts/generate_config_docs.py
  language: system
  pass_filenames: false

docs: document runner config and default Docker image resolution
  configs/examples/study-full-suite.yaml
  docs/study-config.md
Due: none

fix(config): remove SyntheticDatasetConfig.seed and document two-seed model
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/methodology.md
  docs/study-config.md
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/loader.py
  tests/unit/test_datasets.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(config): rename execution fields and add reverse/latin_square ordering
  configs/examples/study-full-suite.yaml
  docs/cli-reference.md
  docs/methodology.md
  docs/study-config.md
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/domain/experiment.py
  src/llenergymeasure/study/README.md
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/study/preflight.py
  src/llenergymeasure/study/runner.py
  tests/fixtures/killpg_vllm_study.yaml
  tests/fixtures/sigint_study.yaml
  tests/integration/test_docker_runner.py
  tests/integration/test_e2e_pipeline.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_loader.py
  tests/unit/docker/test_docker_preflight.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_result.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_preflight.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: update README and example configs
  README.md
Due: none

docs: update documentation for DatasetConfig restructure and parameter mapping
  README.md
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/study-config.md
  src/llenergymeasure/config/README.md
  src/llenergymeasure/datasets/README.md
Due: none

docs: update ordering docs for reverse/latin_square and renamed fields
  docs/cli-reference.md
  docs/methodology.md
  src/llenergymeasure/cli/run.py
Due: none

docs: update README, example configs, and backend docs (#188)
  README.md
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/study-config.md
  docs/troubleshooting.md
  scripts/generate_invalid_combos_doc.py
Due: generate-invalid-combos

fix(config): remove SyntheticDatasetConfig.seed and document two-seed model (#189)
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/methodology.md
  docs/study-config.md
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/loader.py
  tests/unit/test_datasets.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: document runner config and default Docker image resolution
  configs/examples/study-full-suite.yaml
Due: none

refactor(config): rename execution fields and add reverse/latin_square ordering (#190)
  configs/examples/study-full-suite.yaml
  docs/cli-reference.md
  docs/methodology.md
  docs/study-config.md
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/domain/experiment.py
  src/llenergymeasure/study/README.md
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/study/preflight.py
  src/llenergymeasure/study/runner.py
  tests/fixtures/killpg_vllm_study.yaml
  tests/fixtures/sigint_study.yaml
  tests/integration/test_docker_runner.py
  tests/integration/test_e2e_pipeline.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_loader.py
  tests/unit/docker/test_docker_preflight.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_result.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_preflight.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(cli): replace removed DatasetConfig import with correct name
  src/llenergymeasure/cli/run.py
Due: none

fix(cli): replace removed DatasetConfig import with correct name (#193)
  src/llenergymeasure/cli/run.py
Due: none

refactor(config): restructure dataset into nested DatasetConfig and fix backend mappings
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/tensorrt.py
  src/llenergymeasure/backends/vllm.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/config/__init__.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/introspection.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/loader.py
  src/llenergymeasure/harness/__init__.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/utils/formatting.py
  tests/fixtures/killpg_vllm_study.yaml
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/fixtures/sigint_study.yaml
  tests/integration/test_docker_runner.py
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_gpu_experiment.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_config_schema.py
  tests/unit/harness/test_harness.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_datasets.py
  tests/unit/test_peak_memory.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix: resolve cherry-pick merge conflict in _build_header for DatasetConfig fields
  src/llenergymeasure/cli/run.py
Due: none

fix: resolve mypy errors for optional max_input/output_tokens
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/config/grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(config): restructure dataset into nested DatasetConfig (#195)
  README.md
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/study-config.md
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/tensorrt.py
  src/llenergymeasure/backends/vllm.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/__init__.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/introspection.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/README.md
  src/llenergymeasure/datasets/loader.py
  src/llenergymeasure/harness/__init__.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/utils/formatting.py
  tests/fixtures/killpg_vllm_study.yaml
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/fixtures/sigint_study.yaml
  tests/integration/test_docker_runner.py
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_gpu_experiment.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_config_schema.py
  tests/unit/harness/test_harness.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_datasets.py
  tests/unit/test_peak_memory.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix: feat!(config): rename precision to dtype with standard value strings (#192)
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/cli-reference.md
  docs/getting-started.md
  docs/guide-comparison-context.md
  docs/guide-getting-started.md
  docs/guide-interpreting-results.md
  docs/methodology.md
  docs/study-config.md
  docs/troubleshooting.md
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/vllm.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/introspection.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/domain/README.md
  src/llenergymeasure/study/_progress.py
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/utils/formatting.py
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/integration/test_e2e_pipeline.py
  tests/unit/backends/test_backend_protocol.py
  tests/unit/backends/test_vllm_backend.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/cli/test_vram.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_config_schema.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/test_state_machine.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix: correct _annotate key and label from 'precision' to 'dtype'
  src/llenergymeasure/cli/_display.py
Due: none

feat!(config): rename precision to dtype with standard value strings (#196)
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/cli-reference.md
  docs/getting-started.md
  docs/guide-comparison-context.md
  docs/guide-getting-started.md
  docs/guide-interpreting-results.md
  docs/methodology.md
  docs/study-config.md
  docs/troubleshooting.md
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/vllm.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/introspection.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/domain/README.md
  src/llenergymeasure/study/_progress.py
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/utils/formatting.py
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/integration/test_e2e_pipeline.py
  tests/unit/backends/test_backend_protocol.py
  tests/unit/backends/test_vllm_backend.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/cli/test_vram.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_config_schema.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/test_state_machine.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor: simplify review fixes from dtype rename and dataset restructure
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/manifest.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_schema.py
  tests/unit/study/test_study_manifest.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor: simplify review fixes from dtype rename and dataset restructure (#197)
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/manifest.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_schema.py
  tests/unit/study/test_study_manifest.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(docker): add FlashAttention-3 to PyTorch image with CI skip
  .github/workflows/ci.yml
  configs/examples/study-full-suite.yaml
  docker/Dockerfile.pytorch
  docs/backends.md
  docs/troubleshooting.md
  scripts/generate_invalid_combos_doc.py
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/config/introspection.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(docker): add FlashAttention-3 to PyTorch image with CI skip (#194)
  .github/workflows/ci.yml
  configs/examples/study-full-suite.yaml
  docker/Dockerfile.pytorch
  docs/backends.md
  docs/troubleshooting.md
  scripts/generate_invalid_combos_doc.py
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/config/introspection.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix: restored edits to study-full-suit, use this moving forwards
  configs/examples/study-full-suite.yaml
Due: none

docs: FA3 default false, add build/install docs, stale image troubleshooting
  docker/Dockerfile.pytorch
  docs/backends.md
  docs/installation.md
  docs/troubleshooting.md
Due: none

docs(docker): default FA3 off, add build docs and stale-image troubleshooting (#198)
  docker/Dockerfile.pytorch
  docs/backends.md
  docs/installation.md
  docs/troubleshooting.md
Due: none

docs(config): restore study-full-suite.yaml with concise comments and new fields
  configs/examples/study-full-suite.yaml
Due: none

docs(config): restore study-full-suite.yaml edits (#200)
  configs/examples/study-full-suite.yaml
Due: none

fix(infra): add DockerError to TYPE_CHECKING imports for type annotation
  src/llenergymeasure/study/runner.py
Due: none

feat(infra): read container error JSON on failure and persist to failed-runs/
  src/llenergymeasure/infra/docker_runner.py
  src/llenergymeasure/study/runner.py
  tests/unit/docker/test_docker_runner.py
  tests/unit/study/test_study_runner.py
Due: none

fix(infra): add error_payload attribute to DockerError and fix mypy types
  src/llenergymeasure/infra/docker_runner.py
  src/llenergymeasure/utils/exceptions.py
Due: none

fix(energy): flatten EnergyConfig to energy_sampler + gpu_telemetry fields
  docs/energy-measurement.md
  docs/study-config.md
  docs/troubleshooting.md
  scripts/generate_config_docs.py
  src/llenergymeasure/cli/config_cmd.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/user_config.py
  src/llenergymeasure/energy/README.md
  src/llenergymeasure/energy/codecarbon.py
  src/llenergymeasure/energy/zeus.py
  src/llenergymeasure/harness/__init__.py
  tests/README.md
  tests/fakes.py
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/unit/cli/test_cli_config.py
  tests/unit/config/test_config_schema.py
  tests/unit/config/test_config_user_config.py
  tests/unit/energy/test_energy_backends_v2.py
  tests/unit/harness/test_harness.py
  tests/unit/test_protocols.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(energy): resolve lint warnings from energy sampler commit
  src/llenergymeasure/harness/__init__.py
  tests/unit/harness/test_harness.py
Due: none

fix(config): update study-full-suite.yaml energy to flat fields
  configs/examples/study-full-suite.yaml
Due: none

feat(infra): read container error JSON on failure and persist to failed-runs/ (#199)
  src/llenergymeasure/infra/docker_runner.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/utils/exceptions.py
  tests/unit/docker/test_docker_runner.py
  tests/unit/study/test_study_runner.py
Due: none

fix(energy): simplify review - extract type alias, remove ghost code, fix nits
  configs/examples/study-full-suite.yaml
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/user_config.py
  tests/unit/config/test_config_user_config.py
  tests/unit/harness/test_harness.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(energy): flatten EnergyConfig to energy_sampler + gpu_telemetry fields (#201)
  configs/examples/study-full-suite.yaml
  docs/energy-measurement.md
  docs/study-config.md
  docs/troubleshooting.md
  scripts/generate_config_docs.py
  src/llenergymeasure/cli/config_cmd.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/user_config.py
  src/llenergymeasure/energy/README.md
  src/llenergymeasure/energy/codecarbon.py
  src/llenergymeasure/energy/zeus.py
  src/llenergymeasure/harness/__init__.py
  tests/README.md
  tests/fakes.py
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/unit/cli/test_cli_config.py
  tests/unit/config/test_config_schema.py
  tests/unit/config/test_config_user_config.py
  tests/unit/energy/test_energy_backends_v2.py
  tests/unit/harness/test_harness.py
  tests/unit/test_protocols.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

Path conditions:
  generate-invalid-combos: any of: ^(src/llenergymeasure/config/.*\.py|scripts/generate_invalid_combos_doc\.py)$
  generate-param-matrix: any of: ^(src/llenergymeasure/config/.*\.py|scripts/generate_param_matrix\.py)$
  generate-config-docs: any of: ^(src/llenergymeasure/config/.*\.py|scripts/generate_config_docs\.py)$
