Repository henrycgbaker/LLenergyMeasure: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-invalid-combos, generate-param-matrix, generate-config-docs

generate-invalid-combos:
  name: Regenerate invalid-combos.md
  entry: python scripts/generate_invalid_combos_doc.py
  language: system
  pass_filenames: false

generate-param-matrix:
  name: Regenerate param-matrix.md
  entry: python scripts/generate_param_matrix.py
  language: system
  pass_filenames: false

generate-config-docs:
  name: Regenerate config docs
  entry: python scripts/generate_config_docs.py
  language: system
  pass_filenames: false

test(config): migrate suites to the generated nested engine config shape
  tests/unit/api/test_gpu.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_schema.py
  tests/unit/config/test_generic_validator.py
  tests/unit/config/test_tensorrt_config.py
  tests/unit/docker/test_docker_runner.py
  tests/unit/engines/test_check_hardware.py
  tests/unit/engines/test_engine_protocol.py
  tests/unit/engines/test_latency_profiling.py
  tests/unit/engines/test_probe_adapter.py
  tests/unit/engines/test_tensorrt_engine.py
  tests/unit/engines/test_vllm_engine.py
  tests/unit/test_api.py
Due: none

docs(config): migrate example configs to the nested engine config shape
  configs/example-study-full.yaml
  configs/tutorials/tutorial-multi-engine.yaml
  tests/unit/config/test_example_configs.py
Due: none

fix(config): route nested and harness-scoped sweep keys in grid expansion
  src/llenergymeasure/config/grid.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_sweep_groups.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(cli): read dtype from active engine params in study dry-run
  src/llenergymeasure/cli/_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/cli/test_preflight_display.py
Due: none

test(study): migrate study and integration suites to nested engine config shape
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_sweep_dedup_end_to_end.py
  tests/unit/study/test_hashing.py
  tests/unit/study/test_library_resolution.py
  tests/unit/study/test_study_manifest.py
Due: none

test(config): migrate config and engine suites to nested engine config shape
  tests/unit/config/engine_rules/test_corpus_invariants.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_tensorrt_config.py
  tests/unit/config/test_tensorrt_sweep.py
  tests/unit/engines/test_vllm_engine.py
Due: none

test(engines): bump lazy-archive producer suites to the new engine pins
  tests/_engine_archive/test_transformers_lazy.py
  tests/_engine_archive/test_vllm_lazy.py
Due: none

fix(scripts): align config-doc and discovery tools with generated nested models
  scripts/check_pydantic_matches_discovered.py
  scripts/generate_config_docs.py
Due: generate-config-docs

docs(config): fix stale float32 sweep comments and routing example
  configs/example-study-full.yaml
  src/llenergymeasure/config/grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(config): share active_harness accessor across consumers
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/engines/transformers/plugin.py
  src/llenergymeasure/harness/measurement.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(rules): use root-dotted refs for cross-section field references
  src/llenergymeasure/engines/transformers/rules.yaml
  tests/unit/config/engine_rules/test_corpus_invariants.py
Due: none

docs(config): regenerate reference docs and migrate examples to nested shape
  docs/explanation/architecture/parameter-discovery.md
  docs/explanation/methodology/glossary.md
  docs/explanation/methodology/methodology.md
  docs/how-to/faq.md
  docs/how-to/single-gpu-or-limited-hardware.md
  docs/how-to/troubleshoot.md
  docs/reference/cli.md
  docs/reference/engines/curation-tensorrt.md
  docs/reference/engines/curation-transformers.md
  docs/reference/engines/curation-vllm.md
  docs/reference/engines/invalid-combos.md
  docs/reference/invariants-corpus-format.md
  docs/reference/study-config.md
  docs/tutorials/multi-engine-study.md
Due: none

refactor(rules): rename invariants API to plain rules vocabulary
  src/llenergymeasure/api/report_gaps.py
  src/llenergymeasure/config/engine_rules/__init__.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/engines/README.md
  src/llenergymeasure/engines/probe_adapter.py
  src/llenergymeasure/infra/version_handshake.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/library_resolution.py
  tests/unit/api/test_report_gaps.py
  tests/unit/config/engine_rules/test_corpus_invariants.py
  tests/unit/config/engine_rules/test_invariant_matching.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/config/engine_rules/test_loader_field_ref_and_divisibility.py
  tests/unit/config/test_generic_validator.py
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/engines/test_probe_adapter.py
  tests/unit/infra/test_version_handshake.py
  tests/unit/study/test_library_resolution.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(rules): drop expected_outcome shim and warn-severity path
  src/llenergymeasure/api/report_gaps.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/probe.py
  src/llenergymeasure/config/schema_loader.py
  src/llenergymeasure/study/library_resolution.py
  tests/unit/api/test_report_gaps.py
  tests/unit/cli/test_report_gaps.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/config/test_generic_validator.py
  tests/unit/study/test_library_resolution.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

test(engines): migrate protocol tests off deleted engine_configs import
  tests/unit/engines/test_engine_protocol.py
Due: none

test(study): firing tests for cross-section rules and hash-bucket lift
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/study/test_hashing.py
Due: none

refactor(rules): drop dead gap field and fix rename strays
  src/llenergymeasure/api/report_gaps.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/engines/probe_adapter.py
  src/llenergymeasure/study/library_resolution.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(rules): rename to rules vocabulary, drop compat shims (#740)
  src/llenergymeasure/api/report_gaps.py
  src/llenergymeasure/config/engine_rules/__init__.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/probe.py
  src/llenergymeasure/config/schema_loader.py
  src/llenergymeasure/engines/README.md
  src/llenergymeasure/engines/probe_adapter.py
  src/llenergymeasure/infra/version_handshake.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/library_resolution.py
  tests/unit/api/test_report_gaps.py
  tests/unit/cli/test_report_gaps.py
  tests/unit/config/engine_rules/test_corpus_invariants.py
  tests/unit/config/engine_rules/test_invariant_matching.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/config/engine_rules/test_loader_field_ref_and_divisibility.py
  tests/unit/config/test_generic_validator.py
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/engines/test_engine_protocol.py
  tests/unit/engines/test_probe_adapter.py
  tests/unit/infra/test_version_handshake.py
  tests/unit/study/test_hashing.py
  tests/unit/study/test_library_resolution.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(config): record rejecting rule id on skipped sweep configs
  src/llenergymeasure/config/grid.py
  tests/unit/study/test_study_grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(config): record rejecting rule id on skipped sweep configs (#741)
  src/llenergymeasure/config/grid.py
  tests/unit/study/test_study_grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(rules): resolve bare normalised_fields against match scope
  src/llenergymeasure/study/library_resolution.py
  tests/unit/study/test_library_resolution.py
Due: none

fix(rules): resolve bare normalised_fields against match scope (#742)
  src/llenergymeasure/study/library_resolution.py
  tests/unit/study/test_library_resolution.py
Due: none

test(engines): lock plugin measurement contract with goldens
  tests/unit/engines/test_measurement_contract.py
Due: none

test(engines): lock plugin measurement contract with goldens (#743)
  tests/unit/engines/test_measurement_contract.py
Due: none

fix(rules): treat non-comparable predicate values as no-match
  src/llenergymeasure/config/engine_rules/loader.py
  tests/unit/config/engine_rules/test_loader_field_ref_and_divisibility.py
  tests/unit/config/test_rehomed_rules_fire.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(study): add llem study init scaffold command
  src/llenergymeasure/cli/__init__.py
  src/llenergymeasure/cli/study_cmd.py
  src/llenergymeasure/config/scaffold.py
  tests/unit/cli/test_study_cmd.py
  tests/unit/config/test_scaffold.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(rules): treat non-comparable predicate values as no-match (#744)
  src/llenergymeasure/config/engine_rules/loader.py
  tests/unit/config/engine_rules/test_loader_field_ref_and_divisibility.py
  tests/unit/config/test_rehomed_rules_fire.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

test(config): fold sampling annotation check into parametrized test
  tests/unit/config/test_scaffold.py
Due: none

feat(study): add llem study init scaffold command (#745)
  src/llenergymeasure/cli/__init__.py
  src/llenergymeasure/cli/study_cmd.py
  src/llenergymeasure/config/scaffold.py
  tests/unit/cli/test_study_cmd.py
  tests/unit/config/test_scaffold.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(config): add numeric sweep-axis idioms (span, log, pow2)
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/sweep_idioms.py
  tests/unit/study/test_sweep_idioms.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(config): add numeric sweep-axis idioms (span, log, pow2) (#746)
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/sweep_idioms.py
  tests/unit/study/test_sweep_idioms.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(config): add value-series derivation with curated overrides
  src/llenergymeasure/config/series.py
  src/llenergymeasure/engines/vllm/study_overrides.yaml
  tests/unit/config/test_series.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(study): add bounds mode rendering to the study scaffold
  src/llenergymeasure/config/scaffold.py
  tests/unit/config/test_scaffold.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(cli): add --bounds flag to llem study init
  src/llenergymeasure/cli/study_cmd.py
  tests/unit/cli/test_study_cmd.py
Due: none

refactor(config): dedupe scaffold loading, expose ref predicate
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/scaffold.py
  src/llenergymeasure/config/series.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(study): add bounds mode with series policies and overrides (#747)
  src/llenergymeasure/cli/study_cmd.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/config/scaffold.py
  src/llenergymeasure/config/series.py
  src/llenergymeasure/engines/vllm/study_overrides.yaml
  tests/unit/cli/test_study_cmd.py
  tests/unit/config/test_scaffold.py
  tests/unit/config/test_series.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(config): drop phantom baseline when experiments list present
  src/llenergymeasure/config/grid.py
  tests/unit/study/test_study_grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(config): drop phantom baseline when experiments list present (#748)
  src/llenergymeasure/config/grid.py
  tests/unit/study/test_study_grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(cli)!: reduce llem run to session flags only
  CHANGELOG.md
  README.md
  docs/contributing/roadmap.md
  docs/explanation/methodology/comparison-context.md
  docs/explanation/methodology/glossary.md
  docs/explanation/methodology/methodology.md
  docs/get-started/quick-start.md
  docs/how-to/faq.md
  docs/how-to/single-gpu-or-limited-hardware.md
  docs/how-to/troubleshoot.md
  docs/reference/cli.md
  docs/reference/library/StudyConfig.md
  docs/tutorials/first-measurement.md
  docs/tutorials/multi-engine-study.md
  src/llenergymeasure/cli/run.py
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_gpu_experiment.py
  tests/unit/cli/test_cli_run.py
Due: none

Path conditions:
  generate-invalid-combos: any of: ^(src/llenergymeasure/config/.*\.py|scripts/generate_invalid_combos_doc\.py)$
  generate-param-matrix: any of: ^(src/llenergymeasure/config/.*\.py|scripts/generate_param_matrix\.py)$
  generate-config-docs: any of: ^(src/llenergymeasure/config/.*\.py|scripts/generate_config_docs\.py)$
