Repository henrycgbaker/LLenergyMeasure: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-invalid-combos, generate-param-matrix, generate-config-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic>=2.0, types-PyYAML]
        args: [--config-file=pyproject.toml]
        files: ^src/

  # Local hooks: Regenerate docs when SSOT sources change
  # Uses language: system to run with project venv (needs pydantic)
  - repo: local
    hooks:
      - id: generate-invalid-combos
        name: Regenerate invalid-combos.md
        entry: python scripts/generate_invalid_combos_doc.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_invalid_combos_doc\.py)$

      - id: generate-param-matrix
        name: Regenerate param-matrix.md
        entry: python scripts/generate_param_matrix.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_param_matrix\.py)$

      - id: generate-config-docs
        name: Regenerate config docs
        entry: python scripts/generate_config_docs.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_config_docs\.py)$

fix(cli): style results path as bold cyan in panel
  src/llenergymeasure/config/grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(cli): pass study_dir to panel instead of separate print
  src/llenergymeasure/cli/run.py
Due: none

fix(cli): polish preflight panel styling
  src/llenergymeasure/api/__init__.py
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/study/manifest.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix: final edits
  src/llenergymeasure/config/grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(cli): deduplicate utilities, single-pass iteration, constants
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_step_display.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/utils/formatting.py
  tests/unit/test_persistence_v2.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

test(config): add tests for seed consolidation and backend seeding
  tests/unit/backends/test_tensorrt_backend.py
  tests/unit/test_datasets.py
  tests/unit/test_peak_memory.py
Due: none

refactor(config): simplify seed resolution from code review
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/datasets/loader.py
  tests/unit/test_peak_memory.py
Due: none

fix(config): consolidate random seeds and remove dead precision (#178)
  configs/examples/experiment-pytorch.yaml
  configs/examples/experiment-tensorrt.yaml
  configs/examples/experiment-vllm.yaml
  configs/examples/study-full-suite.yaml
  configs/examples/study-pytorch.yaml
  configs/examples/study-tensorrt.yaml
  configs/examples/study-vllm.yaml
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/tensorrt.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/loader.py
  tests/unit/backends/test_tensorrt_backend.py
  tests/unit/test_datasets.py
  tests/unit/test_peak_memory.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs(configs): consolidate example configs to study-full-suite.yaml
  configs/examples/experiment-pytorch.yaml
  configs/examples/experiment-tensorrt.yaml
  configs/examples/experiment-vllm.yaml
  configs/examples/study-full-suite.yaml
  configs/examples/study-pytorch.yaml
  configs/examples/study-tensorrt.yaml
  configs/examples/study-vllm.yaml
Due: none

revert(configs): remove YAML changes (moving to separate docs PR)
  configs/examples/experiment-pytorch.yaml
  configs/examples/experiment-tensorrt.yaml
  configs/examples/experiment-vllm.yaml
  configs/examples/study-full-suite.yaml
  configs/examples/study-pytorch.yaml
  configs/examples/study-tensorrt.yaml
  configs/examples/study-vllm.yaml
Due: none

fix(cli): restore layer boundary compliance for energy probe and preflight
  src/llenergymeasure/api/__init__.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

style: ruff format grid.py
  src/llenergymeasure/config/grid.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(cli): restructure study display, fix runner bug, add mJ/tok (#177)
  src/llenergymeasure/api/__init__.py
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_step_display.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/domain/progress.py
  src/llenergymeasure/harness/__init__.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/utils/formatting.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_step_display.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/test_persistence_v2.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

refactor(cli): simplify and remove code smells from study display changes
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_step_display.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/study/preflight.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

test(cli): set total_inference_time_sec on ExperimentResult mocks
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
Due: none

fix(cli): unify dry-run panel with actual-run, use format_experiment_header for listing
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/run.py
Due: none

fix(cli): add proper type annotations to print_study_dry_run params
  src/llenergymeasure/cli/_display.py
Due: none

refactor(cli): simplify study display code post-177 (#181)
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_step_display.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/study/preflight.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: update README and example configs
  README.md
  configs/examples/experiment-pytorch.yaml
  configs/examples/experiment-tensorrt.yaml
  configs/examples/experiment-vllm.yaml
  configs/examples/study-full-suite.yaml
  configs/examples/study-pytorch.yaml
  configs/examples/study-tensorrt.yaml
  configs/examples/study-vllm.yaml
Due: none

docs(configs): consolidate example configs to study-full-suite.yaml (#180)
  configs/examples/experiment-pytorch.yaml
  configs/examples/experiment-tensorrt.yaml
  configs/examples/experiment-vllm.yaml
  configs/examples/study-full-suite.yaml
  configs/examples/study-pytorch.yaml
  configs/examples/study-tensorrt.yaml
  configs/examples/study-vllm.yaml
Due: none

docs: added FA2 & 3 & FP8 limitations
  docs/backends.md
  docs/troubleshooting.md
  scripts/generate_invalid_combos_doc.py
Due: generate-invalid-combos

docs: moved FP8 limitation to invalid combose generation on another branch
  configs/examples/study-full-suite.yaml
Due: none

fix: updated field name to study_name
  configs/examples/study-full-suite.yaml
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/domain/experiment.py
  src/llenergymeasure/study/manifest.py
  tests/conftest.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_loader.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_result.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(config): rename name to study_name (#182)
  configs/examples/study-full-suite.yaml
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/domain/experiment.py
  src/llenergymeasure/study/manifest.py
  tests/conftest.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_loader.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_result.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: update README and example configs
  README.md
Due: none

docs: document runner config and default Docker image resolution
  configs/examples/study-full-suite.yaml
  docs/study-config.md
Due: none

fix(config): remove SyntheticDatasetConfig.seed and document two-seed model
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/methodology.md
  docs/study-config.md
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/loader.py
  tests/unit/test_datasets.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

fix(config): move random_seed to experiment-level section in example YAML
  configs/examples/study-full-suite.yaml
Due: none

refactor(config): rename execution fields and add reverse/latin_square ordering
  configs/examples/study-full-suite.yaml
  docs/cli-reference.md
  docs/methodology.md
  docs/study-config.md
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/loader.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/domain/experiment.py
  src/llenergymeasure/study/README.md
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/study/preflight.py
  src/llenergymeasure/study/runner.py
  tests/fixtures/killpg_vllm_study.yaml
  tests/fixtures/sigint_study.yaml
  tests/integration/test_docker_runner.py
  tests/integration/test_e2e_pipeline.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_loader.py
  tests/unit/docker/test_docker_preflight.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_result.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_preflight.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: update ordering docs for reverse/latin_square and renamed fields
  docs/cli-reference.md
  docs/methodology.md
  src/llenergymeasure/cli/run.py
Due: none

refactor(config): restructure dataset into nested DatasetConfig and fix backend mappings
  src/llenergymeasure/api/_impl.py
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/tensorrt.py
  src/llenergymeasure/backends/vllm.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/config/__init__.py
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/introspection.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/datasets/loader.py
  src/llenergymeasure/harness/__init__.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/utils/formatting.py
  tests/fixtures/killpg_vllm_study.yaml
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/fixtures/sigint_study.yaml
  tests/integration/test_docker_runner.py
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_gpu_experiment.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_config_schema.py
  tests/unit/harness/test_harness.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_datasets.py
  tests/unit/test_peak_memory.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: update documentation for DatasetConfig restructure and parameter mapping
  README.md
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/study-config.md
  src/llenergymeasure/config/README.md
  src/llenergymeasure/datasets/README.md
Due: none

fix: feat!(config): rename precision to dtype with standard value strings
  configs/examples/study-full-suite.yaml
  docs/backends.md
  docs/cli-reference.md
  docs/getting-started.md
  docs/guide-comparison-context.md
  docs/guide-getting-started.md
  docs/guide-interpreting-results.md
  docs/methodology.md
  docs/study-config.md
  docs/troubleshooting.md
  src/llenergymeasure/backends/pytorch.py
  src/llenergymeasure/backends/vllm.py
  src/llenergymeasure/cli/_display.py
  src/llenergymeasure/cli/_vram.py
  src/llenergymeasure/cli/run.py
  src/llenergymeasure/config/README.md
  src/llenergymeasure/config/grid.py
  src/llenergymeasure/config/introspection.py
  src/llenergymeasure/config/models.py
  src/llenergymeasure/config/ssot.py
  src/llenergymeasure/domain/README.md
  src/llenergymeasure/study/_progress.py
  src/llenergymeasure/study/manifest.py
  src/llenergymeasure/utils/formatting.py
  tests/fixtures/replay/gpt2_pytorch_v2.0.json
  tests/integration/test_e2e_pipeline.py
  tests/unit/backends/test_backend_protocol.py
  tests/unit/backends/test_vllm_backend.py
  tests/unit/cli/test_cli_display.py
  tests/unit/cli/test_cli_run.py
  tests/unit/cli/test_vram.py
  tests/unit/config/test_config_introspection.py
  tests/unit/config/test_config_loader.py
  tests/unit/config/test_config_schema.py
  tests/unit/study/test_study_grid.py
  tests/unit/study/test_study_manifest.py
  tests/unit/test_state_machine.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs
