Repository henrycgbaker/LLenergyMeasure: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-invalid-combos, generate-param-matrix, generate-config-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic>=2.0, types-PyYAML]
        args: [--config-file=pyproject.toml]
        files: ^src/

  # Local hooks: Regenerate docs when SSOT sources change
  # Uses language: system to run with project venv (needs pydantic)
  - repo: local
    hooks:
      - id: generate-invalid-combos
        name: Regenerate invalid-combos.md
        entry: python scripts/generate_invalid_combos_doc.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_invalid_combos_doc\.py)$

      - id: generate-param-matrix
        name: Regenerate param-matrix.md
        entry: python scripts/generate_param_matrix.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_param_matrix\.py)$

      - id: generate-config-docs
        name: Regenerate config docs
        entry: python scripts/generate_config_docs.py
        language: system
        pass_filenames: false
        files: ^(src/llenergymeasure/config/.*\.py|scripts/generate_config_docs\.py)$

docs(config): repair label-strip remnants in warmup and ramp prose
  docs/reference/study-config.md
  src/llenergymeasure/config/models.py
  src/llenergymeasure/domain/experiment.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs(src): drop bare design-session labels from internals
  src/llenergymeasure/config/loader.py
  src/llenergymeasure/config/probe.py
  src/llenergymeasure/domain/bundle_artefacts.py
  src/llenergymeasure/engines/transformers/plugin.py
  src/llenergymeasure/harness/lifecycle.py
  src/llenergymeasure/harness/staging.py
  src/llenergymeasure/infra/runner_resolution.py
  src/llenergymeasure/study/session.py
  src/llenergymeasure/study/single.py
  tests/unit/engines/test_transformers_token_counting.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs(src): state config rules directly, drop offstage framing
  src/llenergymeasure/config/precedence.py
  src/llenergymeasure/harness/window_manager.py
  src/llenergymeasure/infra/server_lifecycle.py
  src/llenergymeasure/study/server_session.py
  tests/engine_versions/test_renovate_regex.py
  tests/integration/test_sweep_dedup_end_to_end.py
  tests/unit/config/test_precedence.py
  tests/unit/study/test_server_bundles.py
  tests/unit/study/test_session.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs(src): replace dead-doc citations with direct statements
  src/llenergymeasure/api/health.py
  src/llenergymeasure/cli/_study_display.py
  src/llenergymeasure/cli/doctor_cmd.py
  src/llenergymeasure/harness/measurement_warnings.py
  src/llenergymeasure/harness/timeseries.py
  src/llenergymeasure/harness/windowing.py
  tests/integration/test_e2e_pipeline.py
  tests/unit/test_preflight.py
Due: none

docs(src): fix stale names and self-contradicting doc notes
  docs/reference/cli.md
  src/llenergymeasure/__init__.py
  src/llenergymeasure/cli/_study_defaults.py
  src/llenergymeasure/cli/report_gaps.py
  src/llenergymeasure/config/engine_rules/loader.py
  src/llenergymeasure/domain/__init__.py
  src/llenergymeasure/domain/metrics.py
  src/llenergymeasure/results/persistence.py
  src/llenergymeasure/study/loading.py
  src/llenergymeasure/study/runtime_observations.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/unit/__init__.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

docs: de-jargonise reference pages and expand SSOT at first use
  README.md
  changelog.d/850.removed.md
  changelog.d/895.added.md
  docs/contributing/development.md
  docs/contributing/preview-deployments.md
  docs/contributing/schema-refresh.md
  docs/explanation/architecture/ci-architecture.md
  docs/explanation/methodology/glossary.md
  docs/explanation/why.md
  docs/how-to/cloud-gpu-vm.md
  docs/how-to/install.md
  docs/how-to/troubleshoot.md
  docs/reference/engines/configuration.md
  docs/reference/results-schema.md
  docs/reference/study-config.md
  scripts/generate_config_docs.py
Due: generate-config-docs

fix(ci): repair link rot and de-jargonise never-swept surfaces
  .env.example
  .github/ISSUE_TEMPLATE/docs.yml
  .github/workflows/auto-release.yml
  Makefile
  engine_versions/_dispatcher.py
  engine_versions/_machinery_proto.py
  engine_versions/tensorrt/analyst_clusters.yaml
  engine_versions/vllm/analyst_clusters.yaml
  pyproject.toml
  scripts/analyst_cold_read.py
  scripts/docker_build_with_cache_report.sh
  scripts/entrypoint.sh
Due: none

docs: clear abort-core and plan-section fossils from result prose
  src/llenergymeasure/domain/experiment.py
  tests/unit/harness/test_traffic.py
  tests/unit/study/test_server_bundles.py
Due: none

docs: finish abort-core and plan-label cleanup tree-wide
  changelog.d/+per-mode-warmup-namespaces.added.md
  changelog.d/908.added.md
  changelog.d/918.added.md
  engine_versions/transformers/analyst_clusters.yaml
  src/llenergymeasure/config/precedence.py
  src/llenergymeasure/domain/experiment.py
  tests/conftest.py
  tests/unit/study/test_study_runner.py
  tests/unit/test_api.py
  tests/unit/test_peak_memory.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(config): add optional note field to engine-rule provenance
  src/llenergymeasure/config/engine_rules/loader.py
  tests/unit/config/engine_rules/test_loader.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(absorb): carry fresh sign-off citations into shipped provenance
  changelog.d/+absorb-signoff-citations.added.md
  scripts/absorb.py
  tests/unit/scripts/test_absorb.py
Due: none

refactor(absorb): single-source the sign-off override field set
  scripts/absorb.py
  src/llenergymeasure/config/engine_rules/loader.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

feat(absorb): carry fresh sign-off evidence into shipped provenance (#922)
  changelog.d/+absorb-signoff-citations.added.md
  scripts/absorb.py
  src/llenergymeasure/config/engine_rules/loader.py
  tests/unit/config/engine_rules/test_loader.py
  tests/unit/scripts/test_absorb.py
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

chore(engines): absorb transformers 5.14.1 knowledge artefacts
  engine_versions/transformers/v5_14_1/outputs/absorb_signoff.yaml
  engine_versions/transformers/v5_14_1/outputs/curated.yaml
  engine_versions/transformers/v5_14_1/outputs/manual_overlay.yaml
  engine_versions/transformers/v5_14_1/outputs/schema.discovered.json
  src/llenergymeasure/config/generated/transformers.py
  src/llenergymeasure/engines/transformers/rules.yaml
Due: generate-invalid-combos, generate-param-matrix, generate-config-docs

chore(engines): reconcile transformers corpus with sign-off rulings
  docs/reference/engines/curation-transformers.md
  docs/reference/engines/invalid-combos.md
  docs/reference/engines/schema-transformers.md
  engine_versions/transformers/v5_14_1/outputs/absorb_signoff.yaml
  src/llenergymeasure/engines/transformers/rules.yaml
Due: none

test(config): follow the 5.14.1 corpus reconciliation
  tests/engine_versions/test_ssot_layout.py
  tests/unit/cli/test_preflight_display.py
  tests/unit/cli/test_study_plan.py
  tests/unit/config/test_rehomed_rules_fire.py
  tests/unit/study/test_library_resolution.py
Due: none

fix(engines): gate the num_return_sequences rule on unset num_beams
  docs/reference/engines/invalid-combos.md
  src/llenergymeasure/engines/transformers/rules.yaml
Due: none

docs(changelog): add fragment for the transformers 5.14.1 bump
  changelog.d/906.changed.md
Due: none

docs(changelog): fold bundle-2.0 break note into 0.7.0 section
  CHANGELOG.md
Due: none

feat(packaging): declare MIT licence in wheel metadata
  pyproject.toml
Due: none

docs(changelog): repair release link definitions
  CHANGELOG.md
Due: none

fix(ci): hold engine-pin bumps for the v0.8 cycle
  renovate.json
Due: none

docs(changelog): fold bundle-2.0 break note into 0.7.0 section (#927)
  CHANGELOG.md
Due: none

fix(ci): hold engine-pin bumps for the v0.8 cycle (#928)
  renovate.json
Due: none

fix(study): fail loudly on missing study identity
  src/llenergymeasure/study/container_lifecycle.py
  src/llenergymeasure/study/runner.py
  src/llenergymeasure/study/session.py
  tests/unit/study/test_container_lifecycle.py
  tests/unit/study/test_study_runner.py
Due: none

feat(packaging): add optimize and screen extras
  pyproject.toml
  uv.lock
Due: none

refactor(arch): relocate entrypoints and extend import contracts
  docs/explanation/architecture/architecture-overview.md
  pyproject.toml
  src/llenergymeasure/README.md
  src/llenergymeasure/search/__init__.py
  src/llenergymeasure/serving/__init__.py
Due: none

ci(package): prove the screen extra resolves numpy 2
  .github/workflows/ci.yml
Due: none

fix(study): give same-second studies distinct directories
  docs/reference/results-schema.md
  src/llenergymeasure/study/manifest.py
  tests/unit/study/test_study_manifest.py
Due: none

docs(changelog): record the licence metadata and new extras
  changelog.d/930.added.md
Due: none

fix(ci): drop renovate engine-pin freeze, hold by convention
  renovate.json
Due: none

docs(changelog): drop stale note on the towncrier start marker
  pyproject.toml
Due: none

fix(study): label server and baseline containers for cleanup
  src/llenergymeasure/engines/tensorrt/plugin.py
  src/llenergymeasure/engines/vllm/plugin.py
  src/llenergymeasure/infra/server_lifecycle.py
  src/llenergymeasure/study/baseline_container.py
  src/llenergymeasure/study/baseline_measure.py
  src/llenergymeasure/study/server_session.py
  tests/unit/server/test_server_lifecycle.py
  tests/unit/study/test_baseline_container.py
  tests/unit/study/test_baseline_strategy.py
  tests/unit/study/test_server_session.py
Due: none

docs(arch): point package README at the enforced contract source
  src/llenergymeasure/README.md
Due: none

test(study): prove concurrent trials survive each other's cleanup
  tests/integration/test_container_cleanup_docker.py
  tests/unit/study/test_container_lifecycle.py
Due: none

docs(changelog): add fragment for the study isolation fixes
  changelog.d/932.fixed.md
Due: none

refactor(arch): correct engine-data-readers contract comment
  pyproject.toml
Due: none
